#homebackground{
  background-image: url("../slide2.png");
 
background-repeat: no-repeat;
background-size: 100% 100%;
  height: 340px;
  position: ;
}
#searchs{
   width: 50%;
  margin-left: 10%;
    margin-top: 10%;
}
#images{
    height: 200px;
   background-image: url("../images/slide1.png");
   background-repeat: no-repeat;
background-size: 100% 100%;
}
#searcharea{
    background: gold;
}
#homepanel:hover{
    background: whitesmoke;
   
        
}
